@import models._
@import models.forms.ProductForm
@(myForm: Form[ProductForm], categories: Map[String, List[String]])
@import b3.vertical.fieldConstructor

@main("Add Product Screen") {

  <script type="text/javascript" src="@routes.Assets.at("javascripts/requiredAsterisk.js")"></script>
  <script>
  </script>

  <div class="row">
    <div class="col-sm-12">
      Create a product
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
        @b3.form(routes.AddProduct.addProduct()) {
            @b3.text(
              myForm("productName"),
              '_label -> "Product Name",
              'placeholder -> "product name"
            )
            @b3.textarea(
                myForm("productDescription"),
                '_label -> "Product Description",
                'placeholder -> "product description"
            )
            <div class="form-group"  id="productCategory_field">
                <label class="control-label" for="productCategory">
                    Product Category
                </label>
                <div class="selectContainer">
                    <select name="productCategory" class="form-control">
                        @for((key, value) <- categories) {
                            <label>@key</label>
                            @for(element <- value) {
                                <option>@element</option>
                            }
                        }
                    </select>
                </div>
            </div>
            @b3.text(
                myForm("productManufacturer"),
                '_label -> "Manufacturer Name",
                'placeholder -> "product manufacturer"
            )
            @b3.text(
                myForm("productPrice"),
                '_label -> "Product Price",
                'placeholder -> "product price"
            )
            @b3.number(
                 myForm("productQuantity"),
                 '_label -> "Quantity",
                 'placeholder -> "product quantity"
             )            
            @b3.number(
                myForm("productWidth"),
                '_label -> "Product Width (In inches)",
                'placeholder -> "product width"
            )

            @b3.number(
                myForm("productHeight"),
                '_label -> "Product Height (In inches)",
                'placeholder -> "product height"
            )
            @b3.number(
                myForm("productLength"),
                '_label -> "Product Length (In inches)",
                'placeholder -> "product length"
            )
            @b3.number(
                myForm("productWeight"),
                '_label -> "Product Weight (In pounds)",
                'placeholder -> "product weight"
            )
            <span id="recommended"></span>
            @b3.radio(
                myForm("shipping"),
                options = Seq("0"->"Small","1"->"Medium","2"->"Large"),
                '_label -> "Shipping size"
            )            
            @b3.text(
                myForm("productColor"),
                '_label -> "Product Color",
                'placeholder -> "product color"
            )

            @b3.submit('class -> "btn btn-primary"){ Add Product }
        }

        </div>
      </div>
    </div>
  </div>
	<script>
    $( document ).ready(function() {
    	$("#productWeight_field").change( function() {
    		if(parseInt($("#productWeight").val()) > 10) {
    			$("#recommended").text("Recommended ship size: Large");
    		} else if (parseInt($("#productWeight").val()) > 5) {
    			$("#recommended").text("Recommended ship size: Medium");
    		} else {
    			$("#recommended").text("Recommended ship size: Small");
    		}
    	});
    })
	</script>
}