@import models._
@import b3.vertical.fieldConstructor
@(User: String)

@main("Welcome to Play") {


    <div class="row">
        <div class="col-sm-12">
                Welcome @User
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="/viewproducts">View Products <span class="sr-only">(current)</span></a></li>
                        <li><a href="/addproduct">Add Product</a></li>
                        <li><a href="/vieworders">View Order History</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

}
