@import models._
@import models.forms._
@(myForm: Form[LoginForm])
@import b3.vertical.fieldConstructor

@main("Login") {

		<div class="row">
			<div class="col-sm-12">
			Please create a user account!
			</div>
			<div class="col-sm-12">
				<div class="panel panel-default">
  					<div class="panel-body">
  						@b3.form(routes.Login.validateLogin) {
  							@b3.email(myForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com" )
  							@b3.password(myForm("password"), '_label -> "Password", 'placeholder -> "password" )
  							@b3.submit('class -> "btn btn-primary"){ Login }
  							<a class="btn btn-primary" href="/register" role="button">Register</a>
  							<a class="btn btn-primary" href="/passwordreset">Forgot password?</a>
  						}
  						
					</div>
				</div>
			</div>
	    </div>
	    <script>
	    $( document ).ready(function() {
	    	$(".navbar-right").remove();
	    });
	    </script>

}
