@import models._
@import b3.vertical.fieldConstructor
@(user: User, rooms: List[Room], currentGuests: List[Guest])

@main("Crest Motel - Home") {

  <div class="row">
    <h2>Welcome @user.firstName @user.lastName</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/newguest">Add New Guest</a> </li>
            <li><a href="/supplyinventory">Supply Inventory</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
}