@(users: List[User])

@main("SWE-Project - Pending Roles"){
  <div class="modal-body">
    <h2>Pending Roles</h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th>Confirm</th>
        </tr>
        <div class="form-group">
          @for(user <- users) {
            <form action="/confirmrole/@user.id" method="GET" class="form-vertical" role="form" id="confirmUserRole">
              <tr class="clickable-row">
                <a href="routes.Admin.confirmUser(@user.id)">
                  <td>@user.firstName</td>
                  <td>@user.lastName</td>
                  <td>@user.role</td>
                  <td>
                    <input type="submit" form="confirmUserRole" value="Confirm">
                    </td>
                </a>
              </tr>
            </form>
          }
        </div>
      </tbody>
    </table>
  </div>
}