@import models._
@(myForm: Form[User], user: User)
@import b3.vertical.fieldConstructor

@main("Password Reset") {

		<div class="row">
			<div class="col-sm-12">
			Please enter new password.
			</div>
			<div class="col-sm-12">
				<div class="panel panel-default">
  					<div class="panel-body">
  						@b3.form(routes.PasswordReset.PasswordReset) {
  							@b3.hidden(user.email, '_label -> "Email", 'placeholder -> "example@mail.com" )
  							@b3.password(myForm("password"), '_label -> "New Password", 'placeholder -> "password" )
  							@b3.submit('class -> "btn btn-primary"){ Submit }

  						}
  						
					</div>
				</div>
			</div>
	    </div>

}
