@import models._
@import models.forms.UserForm
@import models.forms.ManagerForm
@(myForm: Form[UserForm])
    @import b3.vertical.fieldConstructor

    @main("Registration Screen") {

        <script type="text/javascript" src="@routes.Assets.at("javascripts/requiredAsterisk.js")"></script>
        <script>
        </script>

        <div class="row">
            <div class="col-sm-12">
                Please create a user account!
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                    @b3.form(routes.Registration.addUser()) {
                        @b3.email(
                            myForm("email"),
                            '_label -> "Email",
                            'placeholder -> "example@mail.com"
                        )
                        @b3.text(
                            myForm("firstName"),
                            '_label -> "First Name",
                            'placeholder -> "first name"
                        )
                        @b3.text(
                            myForm("lastName"),
                            '_label -> "Last Name",
                            'placeholder -> "last name"
                        )
                        @b3.radio(
                            myForm("gender"),
                            options = Seq("male"->"Male","female"->"Female"),
                            '_label -> "Gender"
                        )
                        @b3.radio(
                            myForm("role"),
                            options = Seq("admin"->"Admin","manager"->"Manager","user"->"Normal"),
                            '_label -> "Role"
                        )
                        @b3.date(
                            myForm("birthDate"),
                            '_label -> "Birthdate",
                            'placeholder -> "birth date"
                        )
                        @b3.password(
                            myForm("password"),
                            '_label -> "Password",
                            'placeholder -> "password"
                        )
                        @b3.password(
                            myForm("confirmPassword"),
                            '_label -> "Confirm Password",
                            'placeholder -> "confirm password"
                        )
                        @b3.submit('class -> "btn btn-primary"){ Register }
                    }

                    </div>
                </div>
            </div>
        </div>

    }


