@import models.forms.UserForm
@(signupForm: Form[UserForm])
    @import helper._
    @implicitField = @{ FieldConstructor }

    <h3>@Messages("signup.new")</h3>

    @form(routes.Registration.addUser()) {

        <fieldset>
            @inputText(
                signupForm("email"),
                '_label -> "Email",
                'placeholder -> "example@email.com"
            )
            @inputText(
                signupForm("firstName"),
                '_label -> "First Name",
                'placeholder -> "first name"
            )
            @inputText(
                signupForm("lastName"),
                '_label -> "Last Name",
                'placeholder -> "last name"
            )
            @inputRadioGroup(
                signupForm("gender"),
                options = Seq("male"->"Male","female"->"Female"),
                '_label -> "Gender"
            )
            @inputRadioGroup(
                signupForm("role"),
                options = Seq("admin"->"Admin","manager"->"Manager","user"->"Normal"),
                '_label -> "Role"
            )
            @textarea(
                field = signupForm("managerid"),
                args = 'rows -> 2,
                'cols -> 20
            )

            @if(signupForm("role").value == "manager"){
                @textarea(field = signupForm("managerid"), args = 'rows -> 2, 'cols -> 20)
            }

            @inputDate(
                signupForm("birthDate"),
                '_label -> "Birthdate",
                'placeholder -> "birth date"
            )
            @inputPassword(
                signupForm("password"),
                '_label -> "Password",
                'placeholder -> "password"
            )
            @inputPassword(
                signupForm("confirmPassword"),
                '_label -> "Confirm Password",
                'placeholder -> "confirm password"
            )
        </fieldset>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="@Messages("signup.signup")">
        </div>
    }

