@import models.forms.UserForm
@(signupForm: Form[UserForm])
    @import b3.vertical.fieldConstructor

    <h3>@Messages("signup.new")</h3>

    @b3.form(routes.Registration.addUser()) {

        <fieldset>
            @b3.text(
                signupForm("firstName"),
                '_label -> "First Name",
                'placeholder -> "first name"
            )
            @b3.text(
                signupForm("lastName"),
                '_label -> "Last Name",
                'placeholder -> "last name"
            )
            @b3.radio(
                signupForm("gender"),
                options = Seq("male"->"Male","female"->"Female"),
                '_label -> "Gender"
            )
            @b3.radioWithOptions(
                signupForm("role"),
                options = Seq("admin"->"Admin","manager"->"Manager","user"->"Normal"),
                '_label -> "Role"
                @if(signupForm("role").value == "manager"){
                    
        }
            )

            @b3.date(
                signupForm("birthDate"),
                '_label -> "Birthdate",
                'placeholder -> "birth date"
            )
            @b3.password(
                signupForm("password"),
                '_label -> "Password",
                'placeholder -> "password"
            )
            @b3.password(
                signupForm("confirmPassword"),
                '_label -> "Confirm Password",
                'placeholder -> "confirm password"
            )
            @b3.submit('class -> "btn btn-primary"){ Register }
        </fieldset>
    }

