@(returnItem: CartItem, inStockQuantity: Integer, relatedProducts: List[Product])

@main("Return Item") {

		<div class="row">
			<div class="col-sm-12">
				<table class="table table-striped table-bordered">
						Return Item
						<tbody>
							<tr>
								<th>Product Name</th>
								<th>Purchased Quantity</th>
								<th>Returned Already Quantity</th>
								<th>Quantity in Stock</th>
								<th>Return</th>
								<th>Exchange</th>
							</tr>
								
								
								<tr>
										<td>@returnItem.product.productName</td>
										<td>@returnItem.quantity</td>
										<td>@returnItem.returnedQuantity</td>
										<td>@inStockQuantity</td>
											<td>
												<form action="/returnItem/@returnItem.id" method="POST" class="form-vertical " role="form" id="returnItem">
												<input type="number" min="0" max="@returnItem.quantity" id="returnItem.product.productName" name="returnItemQty" value="" class="form-control" placeholder="qty">
												<button type="submit" id="returnButton+@returnItem.product.productName" class="btn btn-primary"> Return item </button>
												</form>
											</td>
											<td>
												<form action="/exchangeItem/@returnItem.id" method="POST" class="form-vertical " role="form" id="exchangeItems">
												<input type="number" min="0" max="@inStockQuantity" id="exchangeItemQty" name="exchangeItemQty" value="" class="form-control" placeholder="qty">
												<button type="button" id="exchangeButton" class="btn btn-primary"> Exchange item </button>
											</td>
								</tr>
						</tbody>
					</table>
			</div>
			<div id="exchangeTable" class="col-sm-12">
				Exchange for original product, or related products. Exchange quantity: <span id=exchangeQty></span> Exchange credit: <span id=exchangeCredit></span>
				<table class="table table-striped table-bordered">
					<tbody>
						<tr>
							<th>Product name</th>
							<th>Quantity in stock</th>
							<th>Price</th>
							<th>Desired Quantity</th>
						</tr>
						
						@for(product <- relatedProducts) {
						<tr>
							<td>@product.productName</td>
							<td>@product.productQuantity</td>
							<td>$@product.productPrice</td>
							<td><input type="number" max="@product.productQuantity" id="@product.id" name="@product.id" value="" class="exchangeForm form-control" placeholder="qty"></td>
						</tr>
						}
						</form>
					</tbody>
				</table>
				<button type="submit" form="exchangeItems" id="exchangeButton2" class="btn btn-primary">Exchange items </button>
				<span id="total"></span>
			</div>
			<span id="error" style="color:red"></span>
			
	    </div>
	   
	   <script>
	   $( document ).ready(function() {
	   	 	var exchangeCredit = 0;
	   		var prices = {
		   		@for(product <- relatedProducts) {
		   			"@product.id" : "@product.productPrice",
		   		}
			}

			$(".exchangeForm").change(function() {
				var total = 0;
				$(".exchangeForm").each(function(index) {
					total = total + ($(this).val() * prices[$(this).attr('id')]);
				});
				if(total > exchangeCredit) {
					$("#error").text("Please enter exchange amount for less than or equal to the credit!");
					$("#error").show();
					$("#total").hide();
					$("#exchangeButton2").hide();
				} else if (total == exchangeCredit) {
					$("#total").show();
					$("#total").text("Total $" + total);
					$("#error").hide();
					$("#exchangeButton2").show();
				} else {
					$("#total").show();
					$("#total").text("Total $" + total + " Balance to be refunded: $" + (exchangeCredit - total));
					$("#error").hide();
					$("#exchangeButton2").show();
				}
				
				
			});


	   
		   $("#exchangeTable").hide();
		   $("#exchangeButton").click(function() {
			   var qty = $("#exchangeItemQty").val();
			   console.log("Quantity of exchange:" + qty);
			   if(qty > 0 && qty <= @returnItem.quantity) {
				   $("#exchangeQty").text(qty);
				   $("#error").hide();
				   $("#exchangeButton2").show();
				   exchangeCredit = qty * @returnItem.product.productPrice;
				   $("#exchangeCredit").text("$" + qty * @returnItem.product.productPrice);
				   $("#exchangeTable").show();
			   } else {
			   		console.log("Improper quantity of exchange!");
			   		$("#exchangeTable").hide();
			   		$("#exchangeButton2").show();
			   		$("#error").show();
			   		$("#error").text("Please enter valid amount to exchange");
			   		
			   };
			   
			   
			   
		   });
	   });
	   </script>
}