@import models._
@import b3.vertical.fieldConstructor
@(items: List[CartItem], title:String, message: String )

@main(title) {


		<div class="row">
			<div class="col-sm-12">
  					@message
  					<table class="table table-striped table-bordered">
	  					<tbody>
							<tr>
								<th>Product Name</th>
								<th>Product Quantity</th>
								<th>Shipping estimate</th>
							</tr>
	  					@for(p <- items) {
	  						<tr>
	  							<td>@p.product.productName</td>
	  							<td>@p.quantity</td>
	  							@p.product.productShipping match {
	  								case 0 => {<td>Shipping estimate: 1-3 days</td>}
	  								case 1 => {<td>Shipping estimate: 3-5 days</td>}
	  								case 2 => {<td>Shipping estimate: 5-7 days</td>}
	  								case x => {<td>Shipping estimate: unknown at present</td>}
	  							}
	  						</tr>
	  						}
	  				
	  					</tbody>
  					</table>
			</div>
	    </div>

}
