
@(items: List[CartItem], Total: Double)

@main("Shopping Cart") {


		<div class="row">
			<div class="col-sm-12">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>Product Name</th>
							<th>Quantity</th>
							<th>Price</th>
						</tr>
						@for(item <- items) {
							<tr>
								<td>@item.product.productName</td>
								<td>@item.product.productPrice</td>
								<td>@item.quantity</td>
							</tr>
						}
					</tbody>
				</table>
				Total cost: @Total
			</div>
	    </div>

}